<body class="m-0 font-sans antialiased font-normal text-base leading-default bg-gray-50 text-slate-500">
  <main
    class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200  mx-40 mt-4">
    <!-- Navbar -->
    <div class="w-full px-6 py-6 mx-auto mt-8">

      <!-- component -->
      <!-- This is an example component -->
      <div class="max-w-2xl mx-auto">

        <!-- component -->

        <div class="w-3x4 mx-auto">
          <div class="relative w-full overflow-hidden">
            <div class="flex transition-transform duration-300 ease-in-out"
              [style.transform]="'translateX(' + (-100 * (currentIndex - 1)) + '%)'">
              <div *ngFor="let item of carouselItems" class="w-full flex-shrink-0">
                <img [src]="item.src" alt="Carousel Image" class="w-full h-auto object-cover">
              </div>
            </div>
            <button class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"
              (click)="previous()">‹</button>
            <button class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"
              (click)="forward()">›</button>
          </div>
        </div>

      </div>

      <div class="bannerHome">

      </div>



      <div class="max-w-2xl mx-auto">
      </div>
      <h1 class="text-3xl">Noticias Litoral Norte</h1>
      <p>{{ today.getDate() }} {{ getMonthFullName() }} {{ today.getFullYear() }}</p>
      <div class="flex flex-wrap -mx-3 bg-gray-50" style="height: 580px; overflow-y: auto;">
        <ng-container *ngIf="news.length > 0; else noNews">
          <div class="w-full max-w-full px-3 mt-6 md:w-1/4 md:flex-none" *ngFor="let newsItem of news">
            <div
              class="relative flex flex-col h-full min-w-0 p-2 mb-6 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
              <p class="text-end pr-2">{{ newsItem.publishedAt | date }}</p>
              <h3 class="titlleNews font-bold mb-3 p-1">{{ newsItem.title }}</h3>
              <img class="imgNews rounded" [src]="newsItem.urlToImage" alt="Imagem da notícia">
              <small class="mb-3 p-1  text-justify">{{ newsItem.description }}</small>
              <div class="mt-auto flex flex-col items-end">
                <p class="font-bold">{{ newsItem.author }}</p>
                <button
                  class="text-end mt-2 text-white bg-blue-500 px-3 py-1 hover:bg-blue-400 hover:bg-opacity-75 rounded">
                  <a href="{{ newsItem.url }}">Leia mais</a>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noNews>
          <p>Nenhuma notícia encontrada.</p>
        </ng-template>
      </div>

    </div>
  </main>
</body>
