<body class="m-0 font-sans antialiased h-full font-normal text-base leading-default bg-gray-50 text-slate-500">
  <div class="flex justify-around mt-8">

  </div>
  <main class="ease-soft-in-out xl:ml-68.5 relative max-h-screen rounded-xl transition-all duration-200 mx-40 mt-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4 pt-6">
        <div class="flex justify-between">
          <div class="m-3">
            <svg class="h-6 w-6 text-blue-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
            </svg>
            <h2 class="text-base "> Listagem de residentes</h2>
          </div>
          <div>
            <button routerLink="/payment">
              <svg class="h-6 w-6 text-blue-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <line x1="12" y1="11" x2="12" y2="17" />  <line x1="9" y1="14" x2="15" y2="14" /></svg>
              Boleto</button>
          </div>
        </div>
        <form class="d-flex mb-5 w-full" role="search">
          <input class="form-control border border-gray-150 rounded-md px-4 py-2 w-full outline-none focus:border-blue-500"
                 type="search"
                 placeholder="Buscar residente"
                 [(ngModel)]="searchValue"
                 name="search">
        </form>
        <table class="w-90 mx-auto min-w-full bg-gray-150 border-sky-100 rounded-lg">
          <thead>
            <tr>
              <th class="text-start p-1 border-b-2 h-4">Unidade</th>
              <th class="text-start p-1 border-b-2 h-12">Morador</th>
             
              <th class="text-start p-1 border-b-2 h-12"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let resident of residents | searchfilter:searchValue | paginate: { itemsPerPage: 9, currentPage: page, totalItems: totalLength }; let i = index; trackBy: trackByResidentId">
              <tr class="" >
                <td class="p-0 border-b h-4">Casa 0{{ resident.numeroMoradoresUnidade }}</td>
                <td class="p-0 border-b h-auto">
                  <div class="space-y-2">
                    <ng-container >
                      <div></div>
                    </ng-container>
                  </div>
                </td>
                <td class="p-0 border-b h-12">{{ resident.nomeCompleto }}</td>
                <td class="p-0 border-b h-12 text-right">
                  <a [routerLink]="['/resident-form', resident.id]"
                    class="inline-block px-4 py-3 mb-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-xs ease-soft-in bg-150 hover:scale-102 active:opacity-85 bg-x-25 text-slate-700">
                    Editar
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination text-end mt-2">
      <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
  </main>
  <footer class="pt-4">
    <div class="w-full px-6 mx-auto">
      <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
        <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
          <div class="leading-normal text-center text-sm text-slate-500 lg:text-left">
            © made with <i class="fa fa-heart"></i> by
            <a href="https://www.creative-tim.com" class="font-semibold text-slate-700" target="_blank">Creative Tim</a>
            for a better web.
          </div>
        </div>
        <div class="w-full max-w-full px-3 mt-0 shrink-0 lg:w-1/2 lg:flex-none">
          <ul class="flex flex-wrap justify-center pl-0 mb-0 list-none lg:justify-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com"
                class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation"
                class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/blog"
                class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/license"
                class="block px-4 pt-0 pb-1 pr-0 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                target="_blank">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
