<body class="m-0 font-sans antialiased h-full font-normal text-base leading-default bg-gray-50 text-slate-500">
  <div class="flex justify-around  mt-8 mx-2">
    <div class="bg-transparent bg-zinc-100 w-1/2 text-center  border-b border-gray-200">
      <button routerLink="/owner"><span class="text-2xl p-6">Financeiro</span></button>
    </div>
    <div class="bg-transparent w-1/2 text-center pt-2 border-l-2 border-t border-gray-200 rounded-tr-lg rounded-tl-lg">
      <button routerLink="/resident_data"><span class="text-2xl p-6  text-blue-500 ">Residentes</span></button>
    </div>
  </div>
  <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200 m-6">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4 pt-6">
        <table class="w-90 mx-auto min-w-full bg-gray-150 border-2 rounded-lg">
          <thead>
            <tr>
              <th class="text-start p-2 border-b-2 w-1/6">Unidade</th>
              <th class="text-start p-0 pl-2 border-b-2">Morador</th>
              <th class="text-start p-0 pl-2 border-b-2">Email</th>
              <th class="text-start p-0 pl-2 border-b-2">Telefone</th>
              <th class="text-start p-0 pl-2 border-b-2">Modelo do Veículo</th>
              <th class="text-start p-0 pl-2 border-b-2">Cor do Veículo</th>
              <th class="text-start p-0 pl-2 border-b-2">Ações</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let resident of residents; let i = index; trackBy: trackByResidentId">
              <tr class="{{ i % 2 === 0 ? 'bg-gray-100' : 'bg-gray-200' }}">
                <td class="p-0 pl-2 border-b ">{{ resident.unidade }}</td>
                <td class="p-0 pl-2 border-b">{{ resident.nomeCompleto }}</td>
                <td class="p-0 pl-2 border-b">{{ resident.email }}</td>
                <td class="p-0 pl-2 border-b">{{ resident.telefone }}</td>
                <td class="p-0 pl-2 border-b">{{ resident.modeloVeiculo }}</td>
                <td class="p-0 pl-2 border-b">{{ resident.corVeiculo }}</td>
                <td class="p-0 pl-2 border-b text-start">
                  <a [routerLink]="['/resident-form', resident.id]" (click)="editBoleto(resident)"
                     class="inline-block px-4 py-3 mb-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-xs ease-soft-in bg-150 hover:scale-102 active:opacity-85 bg-x-25 text-slate-700"><svg class="h-8 w-8 text-lime-500"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />  <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />  <line x1="16" y1="5" x2="19" y2="8" /></svg>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </main>

      <footer class="pt-4">
        <div class="w-full px-6 mx-auto">
          <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
            <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
              <div class="leading-normal text-center text-sm text-slate-500 lg:text-left">
                © made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-semibold text-slate-700" target="_blank">Creative
                  Tim</a>
                for a better web.
              </div>
            </div>
            <div class="w-full max-w-full px-3 mt-0 shrink-0 lg:w-1/2 lg:flex-none">
              <ul class="flex flex-wrap justify-center pl-0 mb-0 list-none lg:justify-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com"
                    class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                    target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation"
                    class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                    target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://creative-tim.com/blog"
                    class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                    target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license"
                    class="block px-4 pt-0 pb-1 pr-0 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
                    target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

</body>
